<div class="container col-md-offset-1">

    <div class="col-md-8" style="background-color: white" >
        <h2 style="text-align: center;">Autorisation d'absence</h2>
        <div class="row">
            {{absence}}
            
            <form role="form" name="absenceForm" id="absenceForm" novalidate="" >
                <div class="form-group">
                    <label for="dateDebut" style="font-size: 1.1em;"> Date début :</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="date" ng-model="absence.dateDebut" class="form-control" id="dateDebut" >
                    </div>
                    <div class="alert alert-block alert-danger requis" style="display:none">
                        <div>Veuillez renseigner ce champs.</div>
                    </div>
                </div>
             
                   <div class="form-group">
                        <label for="motif" style="font-size: 1.1em;"> Motif :</label>
                        <div class="input-group" ng-if="!autre">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                            <select ng-model="absence.typePermission" id="motif" class="form-control" ng-change="checkPermission()" ng-options="permission.libelle for permission in typepermissions"></select>
                        </div>
                        <div class="alert alert-block alert-danger requis" style="display:none">
                            <div>Veuillez renseigner ce champs.</div>
                        </div>
                    </div>
                    
                    <label for="autre" style="font-size: 1.1em;"> Autre :</label>
                    <input type="checkbox" ng-model="autre" id="autre" ng-change="setAutre()"/>
                    <div class="form-group" ng-if="autre">
                       <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-edit"></i>
                            </div>
                         <input type="text" class="form-control" id="autre" placeholder="Autre motif" ng-model="absence.motif">
                        </div>
                         <div class="alert alert-block alert-danger requis" style="display:none">
                        <div>Veuillez renseigner ce champs.</div>
                    </div>
                    <div ng-messages="absenceForm.motif.$error" role="alert" ng-show="absenceForm.autre.$touched && absenceForm.autre.$invalid" class="alert alert-block alert-danger has-error">
                        <div ng-message="pattern">Vérifier votre saisie.</div>
                    </div>
                    </div>
                  
                <div class="form-group">
                    <label for="duree" style="font-size: 1.1em;"> Durée absence :</label>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-users"></i>
                        </div>
                        <input type="number" ng-model="absence.duree" id="duree" ng-pattern="/^[1-9]{1}$/" class="form-control">
                    </div>
                    <div class="alert alert-block alert-danger requis" style="display:none">
                        <div>Veuillez renseigner ce champs.</div>
                    </div>
                    <div ng-messages="absenceForm.duree.$error" role="alert" ng-show="absenceForm.duree.$touched && absenceForm.duree.$invalid" class="alert alert-block alert-danger has-error">
                        <div ng-message="pattern">Vérifier votre saisie.</div>
                    </div>
                </div>
               <div class=" col-md-offset-3">
                        <div class="col-md-4 col-xs-6"> <input type="reset" ng-click="reinitialiser()" class="btn btn-block btn-danger" style="font-size: 1.1em;font-weight: bold;" value="ANNULER"> </div>
                        <div class="col-md-4 col-xs-6"> <input type="submit" ng-disabled="absenceForm.$invalid" class="btn btn-block btn-success" ng-click="validerAbsence()" style="font-size: 1.1em;font-weight: bold;" value="VALIDER"> </div>
                    </div> 
            </form>
        </div>

    </div>
</div>