<div ng-controller="AvancementController">
    <div class="panel box box-primary box-solid" ng-if="estPermanent && avoirPermission('consulter', 'grade') == true">
        <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#grade" class="box-header with-border">
            <div >
                <i class="fa fa-male"></i>
                <h1 class="box-title ">Grade</h1>
            </div>            
        </a>
        <div id="grade" class="panel-collapse collapse">
            <div class="panel-body">
                <div class="pull-right" style="padding: 5px 0px 5px 0px;" ng-if="gradeActu">
                <span style="font-weight: bold">
                    Date du prochain avancement : <span style="color: blue;">{{gradeActu.dateProchainAvancement| date: 'dd MMM yyyy'}}</span><br>
                    Type d'avancement : <span style="color: blue;">{{gradeActu.grade.typeAvancement.libelle}}</span>
                </span>
            </div>
            <form role="form" name="newGradeForm" novalidate="" ng-if="avoirPermission('ajouter', 'grade') == true">
                <div>
                    <button class="btn btn-primary btn-block" id="nouvel-grade" ng-click="toggleGradeList()">
                        <span style="font-weight: bold; font-size: 1.2em;" ng-show="showGradeList == false">Ajouter un grade <i class="fa fa-eye"></i></span>
                        <span style="font-weight: bold; font-size: 1.2em;" ng-show="showGradeList == true">Fermer <i class="fa fa-eye-slash"></i></span>
                    </button>
                </div>
                <div ng-if="avoirPermission('consulter', 'grade') == true && showGradeList == true">
                    <div class="row">
                        <label class="col-md-2">
                            <input type="radio" name="selection"  value=""  ng-model="selection"/>
                            {{ "Aucun"}}
                        </label>
                        <span class="col-md-3" ng-show="grades[0].corps != null" ng-repeat="(corps, value) in grades | groupBy: 'corps.libelle'">
                            <label>
                                <input type="radio" name="selection"  value="{{corps}}"  ng-model="$parent.selection"/>
                                {{ corps}}
                            </label>
                        </span>
                        <span class="col-md-2" ng-show="grades[0].corps == null" ng-repeat="(classe, value) in grades | groupBy: 'classe.libelle'">
                            <label>
                                <input type="radio" name="selection"  value="{{classe}}"  ng-model="$parent.selection"/>
                                Classe {{ classe}}
                            </label>
                        </span>
                    </div>
                    <table class="table table-bordered table-striped" ng-show="selection != ''">
                        <thead class="thead-dark">
                            <tr ng-show="grades[0].corps != null">
                                <th style="text-align:center;">Classe</th>
                                <th ng-repeat="(classe, value) in grades | filterBy: ['corps.libelle']: selection | groupBy: 'classe.libelle'">
                                    <span style="font-weight: bold;">{{ classe}}</span>                                
                                </th>
                            </tr>
                            <tr ng-show="grades[0].corps == null">
                                <th style="text-align:center;">Categorie / <br> Niveau</th>
                                <th ng-repeat="(categorie, value) in grades | filterBy: ['classe.libelle']: selection | groupBy: 'categorie.libelle'">
                                    <span style="font-weight: bold;">{{ categorie}}</span>                                
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="grades[0].corps != null">
                                <td style="text-align:center; font-weight: bold;"></td>
                                <td ng-repeat="(classe, value) in grades | filterBy: ['corps.libelle']: selection | groupBy: 'classe.libelle'">
                                    <span ng-repeat="grade in value| orderBy : 'echelon.libelle'">
                                        <label for="{{grade.id}}" title="{{grade.indice}}">
                                            <input type="radio" id="{{grade.id}}" name="grade" ng-value="{{grade}}"  ng-model="historiqueGrade.grade"/>
                                            Echelon {{ grade.echelon.libelle}}
                                        </label><br>
                                    </span>
                                </td>
                            </tr> 
                            <tr ng-show="grades[0].corps == null" ng-repeat="(niveau, value) in grades | filterBy: ['classe.libelle']: selection | groupBy: 'niveau.libelle'">
                                <td style="text-align:center; font-weight: bold;">{{niveau}}</td>
                                <td ng-repeat="(categorie, value) in grades | filterBy: ['classe.libelle']: selection | groupBy: 'categorie.libelle'">
                                    <span ng-repeat="grade in value|  filterBy : ['niveau.libelle'] : niveau | orderBy : 'echelon.libelle'">
                                        <label for="{{grade.id}}" title="{{grade.indice}}">
                                            <input type="radio" id="{{grade.id}}" name="grade" ng-value="{{grade}}"  ng-model="historiqueGrade.grade"/>
                                            Echelon {{ grade.echelon.libelle}}
                                        </label><br>
                                    </span>
                                </td>
                            </tr> 
                        </tbody>
                    </table>
                    <div class="alert alert-block alert-danger requis grade-not-selected" style="display:none">
                        <div>Veuillez selectionner un grade.</div>
                    </div>
                    
                    <table class="table">                    
                        <thead>
                            <tr>
                                <th>Type de document</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                            
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select ng-model="document.typeDocument" class="form-control" id="entite" ng-options="typedocument.code  for typedocument in typedocuments"></select>  
                                        </div>
                                        <div class="alert alert-block alert-danger requis type-doc-missing" style="display:none">
                                            <div>Veuillez renseigner ce champs.</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea  cols="50" style="height: 140px; resize: none;"  ng-model="document.description" name="document" placeholder="Description du document" ></textarea>
                                        </div>
                                        <div class="alert alert-block alert-danger requis" style="display:none">
                                            <div>Veuillez renseigner ce champs.</div>
                                        </div>                                      
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="detailUpload">
                                            </div>
                                            <div>                                     
                                                <div class="alert alert-block alert-danger requis missing-file" style="display:none">
                                                    <div>Veuillez sélectionner un fichier.</div>
                                                </div>
                                                <div class="alert alert-block alert-danger requis error-format" style="display:none">
                                                    <div>Vérifier que le(s) fichier(s) envoyé(s) sont au bon format.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control hidden" multiple  type="file"  onchange="angular.element(this).scope().previewUpload(this, 'editAvancement')" name="fichiers" accept="application/pdf" id="fichiersAvancement">
                                            <label for="fichiersAvancement">
                                                <span class="btn btn-primary" title="Pièce jointe" ><i class="fa fa-paperclip"></i></span>
                                            </label>
                                            <i class="fa fa-times btn btn-danger" title="Annuler l'upload" ng-click="cancelFileUpload()"></i>
                                        </div>                                       
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="col-md-3 pull-right" ng-show="selection != ''">
                        <span ng-click="controlGradeForm()" class="btn btn-success" title="Ajouter" ><i class="fa fa-plus"></i> Ajouter</span>
                        <span ng-click="reinitialiserFormulaireAvancement()" class="btn  btn-danger" title="Annuler" ><i class="fa fa-times"></i> Annuler</span>
                    </div>
                </div>
            </form>
                <hr/>
            <div class="table-responsive no-padding col-md-12" style="margin-top: 6px; font-size: 1.2em;">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Type d'avancement</th>
                            <th>Corps</th>
                            <th>Classe</th>
                            <th>Niveau</th>
                            <th>Catégorie</th>
                            <th>Echelon</th>                      
                            <th>Date de passation</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody> 
                        <tr ng-repeat="ungrade in mesgrades" >
                            <td>{{ungrade.grade.typeAvancement.libelle}}</td>
                            <td>{{ungrade.grade.corps.libelle}}</td>
                            <td>{{ungrade.grade.classe.libelle}}</td>
                            <td>{{ungrade.grade.niveau.libelle}}</td>
                            <td>{{ungrade.grade.categorie.libelle}}</td>
                            <td>{{ungrade.grade.echelon.libelle}}</td>
                            <td>{{ungrade.datePassation| date: 'dd MMM yyyy'}}</td>
                            <td><button class="btn btn-danger"  ng-if="avoirPermission('supprimer', 'grade') == true" ng-click="deleteGrade(ungrade.id)"><i class="fa fa-trash"></i></button>
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#documentsAssociés" aria-expanded="false" aria-controls="documentsAssociés" ng-if="avoirPermission('lister', 'grade') == true"><i class="fa fa-book"></i></button>
                            </td>
                            
                           <div class="collapse" id="documentsAssociés">
                            Documents Associés
                             <ul class="list-group col-md-offset-2 ">
                               <li class="list-group-item d-flex justify-content-between align-items-center active">
                                   <div class="row">
                                       <span class="col-md-3">
                                       Type
                                   </span>
                                    <span class="col-md-3">
                                       Description
                                   </span>
                                    <span class="col-md-3">
                                       Date d'enregistrement
                                   </span>
                                    <span class="col-md-3">
                                       Actions
                                   </span>
                                   </div>
                               </li>
                               
                               <li ng-repeat="doc in $parent.documents filterBy: ['Avancement']: 1" class="list-group-item d-flex justify-content-between align-items-center">
                                   <div class="row">
                                       <span class="col-md-3">
                                      {{doc.typeDocument.code}}
                                   </span>
                                    <span class="col-md-3">
                                        {{doc.description}}
                                   </span>
                                    <span class="col-md-3">
                                      {{doc.dateEnregistrement| date:'dd MMM yyyy'}}
                                   </span>
                                    <span class="col-md-3">
                                      <a class="btn btn-primary" ng-click="visualiserDocument(doc.emplacement)">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <button class="btn btn-danger" ng-if="avoirPermission('supprimer', 'document') == true"
                                                    ng-click="deleteArchiveAvancement(doc)"><i class="fa fa-trash"></i></button>

                                   </span>
                                   </div>
                               </li>
                              
                              
                                  
                             </ul>
                            </div>
                        </tr>
                     </tbody>
                </table>
            </div>
           </div>
            
        </div>
    </div>
</div>