<style>
    .finApproche td{
        background-color: rgb(224,142,11);
        font-weight:  bold;
        color: white;
    }
    .finContrat td
    {
        background-color: rgb(221,75,40);
        font-weight:  bold;
        color: white;
    }
</style>
<div class="box box-solid" ng-if="avoirPermission('consulter', 'employe') == true">
    <div class="box box-header box-primary" style="font-weight: bold;font-size: 1.4em;">
        <div class="col-md-3 ng-cloak" ng-show="estPermanent">
            <div>
                <div  style="margin: auto; text-align: center;">
                    <div id="profil-img" style="width: 200px ; height: 250px; border-radius: 100%; text-align: center; margin: auto;" >
                        <img  ng-src="{{avatar}}" id="previsualisation"  alt="{{employe.prenom| uppercase}} {{employe.nom| uppercase}}" data-toggle="tooltip"  title="{{employe.prenom| uppercase}} {{employe.nom| uppercase}}" class="img-thumbnail" style="width: 200px; height: 250px;" />                   
                    </div>
                </div>
            </div>
            <div style="margin: auto; text-align: center;">
                <label class="label-info" for="profil" style="margin-top: 5px;">
                    <input type="file"  name='profil' id='profil' ng-model="imgProfil" onchange="angular.element(this).scope().preview(this)" accept="image/*" style='display: none;'/>
                    <span class="btn btn-warning" title="Modifier" ng-show="!editProfil" ng-click="toggleButtonProfil()" id="btn_modifier_photo_profil">
                        <i class="fa fa-edit"></i>
                    </span>
                </label>
                <span class="btn btn-danger" title="Annuler" ng-show="editProfil"  ng-click="showDefaultAvatar()">
                    <i class="fa fa-times"></i>
                </span>
                <span class="btn btn-success" title="Appliquer" ng-show="editProfil"  ng-click="uploadAvatar()">
                    <i class="fa fa-check"></i>
                </span>
            </div>
        </div>
        <div class="col-md-7" style="margin-top: 10px;">

            <div style="width: 75%; text-align: justify;">
                PRENOM : {{employe.prenom| uppercase}}  <hr>
            </div> 
            <div style="width: 75%; text-align: justify;">
                NOM : {{employe.nom| uppercase}} <hr>
            </div>
            <div ng-show="employe.matriculeInterne" style="width: 75%; text-align: justify;">
                MATRICULE : {{employe.matriculeInterne}}<hr>
            </div>
            <div style="width: 75%;text-align: justify;" >
                FONCTION : {{libelleFonction}} <hr>
            </div>
            <div style="width: 75%; text-align: justify;">
                ENTITE : {{entiteEmploye.nom}}<hr>
            </div>
            <select ng-model="template" ng-options="t.name for t in templates">
                <option value="">(blank)</option>
            </select>
        </div>
        <div class="col-md-2" style="margin-top: 10px;">
            <span ng-if="avoirPermission('supprimer', 'employe') == true" ng-click="deleteAgent(employe)" class="btn btn-danger" title="Supprimer">
                <span class="fa fa-trash"></span>
            </span>           
        </div>
    </div>

    <div class="box-body">
        <div class="box-group" id="accordion" ng-include="template.url">

        </div>
    </div>
</div>