<div ng-controller="InfosGeneralesController">
    <div class="panel box box-primary box-solid">
        <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#informationPersonnelle" class="box-header with-border">
            <div >
                <i class="fa fa-user"></i>
                <h1 class="box-title ">Informations générales</h1>
            </div>
        </a>
        <div id="informationPersonnelle" class="panel-collapse collapse">
            <div class="panel-body row" ng-if="editInfoGenerales == true" id="editInfoGenerales">
                <form role="form" name="editInfoGeneralesForm" novalidate="">
                    <div class="col-md-9">
                        <div class="row" style="margin-top: 6px; font-size: 1.2em;">
                            <div class="  col-md-7">
                                <label style="font-weight: bold;" for="numeroCni"> Numero identification nationale :</label>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <input type="text" placeholder="Numero d'identification nationale"  ng-pattern="/^[1-2][0-9]{12,}$/"  ng-minlength="13" ng-maxlength="14" class="form-control" name="numeroCni" id="numeroCni" ng-model="$parent.employe.numeroCni">
                                </div>
                                <div class="alert alert-block alert-danger requis" style="display:none">
                                    <div>Veuillez renseigner ce champs.</div>
                                </div>
                                <div class="alert alert-block alert-danger requis" id="cni_dup" style="display:none">
                                    <div>Ce numéro de CNI existe dèja.</div>
                                </div>
                                <div class="alert alert-block alert-danger requis non-concorde" style="display:none">
                                    <div>Le numéro de CNI ne concorde pas avec le genre.</div>
                                </div>
                                <div ng-messages="editInfoGeneralesForm.numeroCni.$error" role="alert" ng-show="editInfoGeneralesForm.numeroCni.$touched && editInfoGeneralesForm.numeroCni.$invalid" class="alert alert-block alert-danger has-error">
                                    <div ng-message="minlength">Ce champs doit contenir  au minimum 13 chiffres.</div>
                                    <div ng-message="maxlength">Ce champs doit contenir au maximum 14 chiffres.</div>
                                    <div ng-message="pattern">Vérifier votre saisie.</div>
                                </div>
                            </div>

                        </div>
                        <div class="row"  style="margin-top: 6px; font-size: 1.2em;" ng-if="$parent.estPermanent">
                            <div class="  col-md-7">
                                <label style="font-weight: bold;" for="matriculeInterne"> Matricule de solde :</label>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <input type="text" placeholder="Matricule"  class="form-control" ng-pattern="/^[0-9]{6}\/[a-z]{1}$/i" ng-maxlength="8" ng-minlength="8" id="matriculeInterne" name="matriculeInterne" ng-model="$parent.employe.matriculeInterne">
                                </div>
                                <div class="alert alert-block alert-danger requis" style="display:none">
                                    <div>Veuillez renseigner ce champs.</div>
                                </div>
                                <div class="alert alert-block alert-danger requis" id="mat_int_dup" style="display:none">
                                    <div>Ce numéro de matricule existe dèja.</div>
                                </div>
                                <div ng-messages="editInfoGeneralesForm.matriculeInterne.$error" role="alert" ng-show="editInfoGeneralesForm.matriculeInterne.$touched && editInfoGeneralesForm.matriculeInterne.$invalid" class="alert alert-block alert-danger has-error">
                                    <div ng-message="maxlength">Ce champs doit contenir 8 caractères.</div>
                                    <div ng-message="minlength">Ce champs doit contenir 8 caractères.</div>
                                    <div ng-message="pattern">Vérifier votre saisie.</div>
                                </div>
                            </div>

                        </div>
                        <div class="row "  style="margin-top: 6px; font-size: 1.2em;">
                            <div class="  col-md-7">
                                <label style="font-weight: bold;" for="prenom"> Prénom :</label>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <input type="text" placeholder="Prénom" name="prenom" id="prenom" ng-pattern="/^[a-zâäàéèùêëîïôöçñ]+[a-zâäàéèùêëîïôöçñ .\-]*[a-zâäàéèùêëîïôöçñ]+$/i" ng-minlength="2" class="form-control" ng-model="$parent.employe.prenom">    
                                </div>
                                <div class="alert alert-block alert-danger requis" style="display:none">
                                    <div>Veuillez renseigner ce champs.</div>
                                </div>
                                <div ng-messages="editInfoGeneralesForm.prenom.$error" role="alert" ng-show="editInfoGeneralesForm.prenom.$touched && editInfoGeneralesForm.prenom.$invalid" class="alert alert-block alert-danger has-error">
                                    <div ng-message="minlength">Ce champs doit contenir 2 caractères au minimum.</div>
                                    <div ng-message="pattern">Vérifier votre saisie.</div>
                                </div>
                            </div>                                    
                        </div>
                        <div class="row "  style="margin-top: 6px; font-size: 1.2em;">
                            <div class="  col-md-7">
                                <label style="font-weight: bold;" for="nom"> Nom :</label>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <input type="text" placeholder="Nom"  name="nom" id="nom" ng-pattern="/^[a-zâäàéèùêëîïôöçñ]+[a-zâäàéèùêëîïôöçñ .\-]*[a-zâäàéèùêëîïôöçñ]+$/i" ng-minlength="2" class="form-control" ng-model="$parent.employe.nom">
                                </div>
                                <div class="alert alert-block alert-danger requis" style="display:none">
                                    <div>Veuillez renseigner ce champs.</div>
                                </div>
                                <div class="alert alert-block alert-danger requis" style="display:none">
                                    <div>Veuillez renseigner ce champs.</div>
                                </div>
                                <div ng-messages="editInfoGeneralesForm.nom.$error" role="alert" ng-show="editInfoGeneralesForm.nom.$touched && editInfoGeneralesForm.nom.$invalid" class="alert alert-block alert-danger has-error">
                                    <div ng-message="minlength">Ce champs doit contenir 2 caractères au minimum.</div>
                                    <div ng-message="pattern">Vérifier votre saisie.</div>
                                </div>
                            </div>                                    
                        </div>
                        <div class="row" style="margin-top: 6px; font-size: 1.2em;">
                            <div class="  col-md-7">
                                <label style="font-weight: bold;" for="dateDeNaissance"> Date de naissance :</label>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <input type="date"  placeholder="Date de naissance" name="dateDeNaissance" id="dateDeNaissance"  max="{{today}}" class="form-control" ng-model="$parent.employe.dateDeNaissance">
                                </div>
                                <div ng-messages="editInfoGeneralesForm.dateDeNaissance.$error" role="alert" ng-show="editInfoGeneralesForm.dateDeNaissance.$invalid"  class="alert alert-block alert-danger has-error">
                                    <div ng-message="max">Cette date doit etre inférieur à la date actuelle</div>
                                </div>
                                <div class="alert alert-block alert-danger requis" style="display:none">
                                    <div>Veuillez renseigner ce champs.</div>
                                </div>
                            </div>

                        </div>
                        <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                            <div class="  col-md-7">
                                <label style="font-weight: bold;" for="lieuDeNaissance" > Lieu de naissance :</label>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <input type="text" placeholder="Lieu de naissance" name="lieuDeNaissance" id="lieuDeNaissance" ng-pattern="/^[a-zâäàéèùêëîïôöçñ]+[a-zâäàéèùêëîïôöçñ .\-]*[a-zâäàéèùêëîïôöçñ]+$/i" ng-minlength="2" class="form-control" ng-model="$parent.employe.lieuDeNaissance">
                                </div>
                                <div class="alert alert-block alert-danger requis" style="display:none">
                                    <div>Veuillez renseigner ce champs.</div>
                                </div>
                                <div ng-messages="editInfoGeneralesForm.lieuDeNaissance.$error" role="alert" ng-show="editInfoGeneralesForm.lieuDeNaissance.$touched && editInfoGeneralesForm.lieuDeNaissance.$invalid" class="alert alert-block alert-danger has-error">
                                    <div ng-message="minlength">Ce champs doit contenir 2 caractères au minimum.</div>
                                    <div ng-message="pattern">Vérifier votre saisie.</div>
                                </div>
                            </div>

                        </div>
                        <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                            <div class="  col-md-7">
                                <label style="font-weight: bold;"> Nationnalite :</label>
                            </div>
                            <div class="col-md-4">                                   
                                <div>
                                    <div>
                                        <input type="text"  name="nationalite" id="nationalite" placeholder="Nationalite" ng-pattern="/^[a-zâäàéèùêëîïôöçñ]+[a-zâäàéèùêëîïôöçñ .\-]*[a-zâäàéèùêëîïôöçñ]+$/i" ng-minlength="2" class="form-control" ng-model="$parent.employe.nationalite">
                                    </div>
                                    <div class="alert alert-block alert-danger requis" style="display:none">
                                        <div>Veuillez renseigner ce champs.</div>
                                    </div>
                                    <div ng-messages="editInfoGeneralesForm.nationalite.$error" role="alert" ng-show="editInfoGeneralesForm.nationalite.$touched && editInfoGeneralesForm.nationalite.$invalid" class="alert alert-block alert-danger has-error">
                                        <div ng-message="minlength">Ce champs doit contenir 2 caractères au minimum.</div>
                                        <div ng-message="pattern">Vérifier votre saisie.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row " style="margin-top: 6px; font-size: 1.2em;" >
                            <div class="  col-md-7">
                                <label style="font-weight: bold;"> Genre :</label>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <select ng-model="$parent.employe.genre" name="genre" ng-change="checkGenre()" id="genre" class="form-control" ng-options="genre.libelle for genre in genres"></select>
                                </div>
                                <div class="alert alert-block alert-danger requis" style="display:none">
                                    <div>Veuillez renseigner ce champs.</div>
                                </div>
                                <div class="alert alert-block alert-danger requis non-concorde" style="display:none">
                                    <div>Le genre ne concorde pas avec le numéro de CNI.</div>
                                </div>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 6px; font-size: 1.2em;">
                            <div class="  col-md-7">
                                <label style="font-weight: bold;" for="dateRecrutement"> Date de recrutement :</label>
                            </div>
                            <div class="col-md-4">
                                <div>
                                    <input type="date"  ng-model="$parent.employe.dateRecrutement" min="{{$parent.employe.dateDeNaissance}}" name="dateRecrutement" id="dateRecrutement"   class="form-control">
                                </div>
                                <div class="alert alert-block alert-danger requis" style="display:none">
                                    <div>Veuillez renseigner ce champs.</div>
                                </div>
                                <div ng-messages="editInfoGeneralesForm.dateRecrutement.$error" role="alert" ng-show="editInfoGeneralesForm.dateRecrutement.$invalid"  class="alert alert-block alert-danger has-error">
                                    <div ng-message="min">Cette date doit etre inférieur à la date de naissance</div>
                                </div>
                            </div>

                        </div>                             
                    </div>
                    <div class="col-md-3">
                    </div>
                    <div class="row "  style="margin-top: 10px;">
                        <div class="col-md-12">
                            <span style="margin-right: 10px;" class="btn btn-danger pull-right" ng-click="cancelEmployeEdit()"><i class="fa fa-times"> Annuler</i></span>
                            <span style="margin-right: 10px;" class="btn btn-success pull-right" type="submit" ng-disabled="editInfoGeneralesForm.$invalid"  ng-click="controlFormEditEmploye()"><i class="fa fa-check"> Enregistrer</i></span>
                        </div>
                    </div>
                </form>
            </div>

            <!--                        fin edit form-->
            <div class="panel-body row" ng-if="editInfoGenerales == false">

                <div class="col-md-12">
                    <div class="row" style="margin-top: 6px; font-size: 1.2em;">
                        <div class="  col-md-7">
                            <span style="font-weight: bold;"> Numero identification nationale :</span>
                        </div>
                        <div class="col-md-4">
                            <span> {{$parent.employe.numeroCni}}</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 6px; font-size: 1.2em;">
                        <div class="  col-md-7">
                            <span style="font-weight: bold;"> Date de naissance :</span>
                        </div>
                        <div class="col-md-4">
                            <span>  {{$parent.employe.dateDeNaissance| date: 'dd MMM yyyy'}}</span>
                        </div>
                    </div>
                    <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                        <div class="  col-md-7">
                            <span style="font-weight: bold;"> Lieu de naissance :</span>
                        </div>
                        <div class="col-md-4">
                            <span> {{$parent.employe.lieuDeNaissance}}</span>
                        </div>
                    </div>
                    <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                        <div class="  col-md-7">
                            <span style="font-weight: bold;"> Nationnalite :</span>
                        </div>
                        <div class="col-md-4">
                            <span> {{$parent.employe.nationalite}}</span>
                        </div>
                    </div>
                    <div class="row " style="margin-top: 6px; font-size: 1.2em;" >
                        <div class="  col-md-7">
                            <span style="font-weight: bold;"> Genre :</span>
                        </div>
                        <div class="col-md-4">
                            <span> {{$parent.employe.genre.libelle}}</span>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 6px; font-size: 1.2em;">
                        <div class="  col-md-7">
                            <span style="font-weight: bold;"> Date de recrutement :</span>
                        </div>
                        <div class="col-md-4">
                            <span> {{$parent.employe.dateRecrutement| date: 'dd MMM yyyy'}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="padding: 4px;" 
                     ng-if="avoirPermission('modifier', 'employe') == true">
                    <span class="btn btn-warning pull-right" ng-click="toggleEmployeEditForm()">
                        <i class="fa fa-edit"> Modifier</i>
                    </span>
                </div>
            </div>

        </div>
    </div>
    <!-- Contact -->
    <div class="panel box box-primary box-solid" ng-if="avoirPermission('consulter', 'contact') == true">
        <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#contact" class="box-header with-border">
            <div >
                <i class="fa fa-address-book"></i>
                <h1 class="box-title ">Contacts</h1>
            </div>
        </a>

        <div id="contact" class="panel-collapse collapse">
            <div class="panel-body" ng-if="editContact == true">
                <form role="form" name="editContactForm" class="editContactForm" novalidate="">
                    <div class="row" style="margin-top: 6px; font-size: 1.2em;">
                        <div class="col-md-7">
                            <label style="font-weight: bold;"> Téléphone 1 : </label>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <input type="text"  ng-model="contacts.numero1"  placeholder="Téléphone 1" class="form-control" ng-pattern="/^(77|76|78|70|33){1}[0-9]{7}$/" ng-minlength="9" id="telephone1" name="telephone1">
                            </div>
                            <div class="alert alert-block alert-danger requis" style="display:none">
                                <div>Veuillez renseigner ce champs.</div>
                            </div>
                            <div class="alert alert-block alert-danger requis" id="num_tel_1_dup" style="display:none">
                                <div>Ce numéro de téléphone existe dèja.</div>
                            </div>
                            <div ng-messages="editContactForm.telephone1.$error" role="alert" ng-show="editContactForm.telephone1.$touched && editContactForm.telephone1.$invalid" class="alert alert-block alert-danger has-error">
                                <div ng-message="minlength">Ce champs doit contenir 9 caractères.</div>
                                <div ng-message="pattern">Vérifier votre saisie.</div>
                            </div>
                        </div>
                    </div>  
                    <div class="form-group">
                        <label for="autreNumero" > Ajouter un autre numéro :</label>
                        <input type="checkbox"  ng-model="autreNumero"  ng-click="toggleNumeroTel2()" id="autreNumero">                                              
                    </div>
                    <div class="row" ng-if="contacts.numero2 || autreNumero == true" style="margin-top: 6px; font-size: 1.2em;">
                        <div class="col-md-7">
                            <label style="font-weight: bold;"> Téléphone 2 :</label>
                        </div>
                        <div class="col-md-4">
                            <div> 
                                <input type="text"  ng-model="contacts.numero2" placeholder="Téléphone 2" ng-pattern="/^(77|76|78|70|33){1}[0-9]{7}$/" ng-minlength="9" id="telephone2" name="telephone2" class="form-control">
                            </div>
                            <div class="alert alert-block alert-danger requis" style="display:none">
                                <div>Veuillez renseigner ce champs.</div>
                            </div>
                            <div class="alert alert-block alert-danger requis" id="num_tel_2_dup" style="display:none">
                                <div>Ce numéro de téléphone existe dèja.</div>
                            </div>
                            <div ng-messages="editContactForm.telephone2.$error" role="alert" ng-show="editContactForm.telephone2.$touched && editContactForm.telephone2.$invalid" class="alert alert-block alert-danger has-error">
                                <div ng-message="minlength">Ce champs doit contenir 9 caractères.</div>
                                <div ng-message="pattern">Vérifier votre saisie.</div>
                            </div>
                        </div>
                    </div>  
                    <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                        <div class="  col-md-7">
                            <label style="font-weight: bold;"> Email:</label>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <input type="text" ng-model="contacts.email" ng-pattern="/^[a-z]+[a-z0-9._-]+[a-z]+@[a-z]+[a-z.-]+\.[a-z.]{2,3}$/i"  class="form-control" name="email" id="email" placeholder="Email" >
                            </div>
                            <div class="alert alert-block alert-danger requis" style="display:none">
                                <div>Veuillez renseigner ce champs.</div>
                            </div>
                            <div class="alert alert-block alert-danger requis" id="email_dup" style="display:none">
                                <div>Cet adresse e-mail existe dèja.</div>
                            </div>
                            <div ng-messages="editContactForm.email.$error" role="alert" ng-show="editContactForm.email.$touched && editContactForm.email.$invalid" class="alert alert-block alert-danger has-error">
                                <div ng-message="pattern">Vérifier votre saisie.</div>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 5px; font-size: 1.2em;">                          
                        <button ng-click="cancelContactsEdit()" class="btn btn-warning pull-right">
                            <i class="fa fa-times" style="font-weight: bold"> Annuler</i>
                        </button>
                        <span class="btn btn-success pull-right" type="submit" 
                              ng-disabled="editContactForm.$invalid"  ng-click="controlContactFormEdit()">
                            <i class="fa fa-check"> Enregistrer</i>
                        </span>
                    </div>
                </form>
            </div>
            <div class="panel-body"  ng-if="editContact == false">

                <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                    <div class="  col-md-7">
                        <span style="font-weight: bold;"> Téléphone 1 :</span>
                    </div>
                    <div class="col-md-4">
                        <span> {{contacts.numero1}}</span>
                    </div>
                </div>  
                <div class="row " ng-if="contacts.numero2 != null" style="margin-top: 6px; font-size: 1.2em;">
                    <div class="  col-md-7">
                        <span style="font-weight: bold;"> Téléphone 2 :</span>
                    </div>
                    <div class="col-md-4">
                        <span> {{contacts.numero2}}</span>
                    </div>
                </div>  
                <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                    <div class="  col-md-7">
                        <span style="font-weight: bold;"> Email:</span>
                    </div>
                    <div class="col-md-4">
                        <span> {{contacts.email}}</span>
                    </div>
                </div>  
                <div  style="margin-top: 5px; font-size: 1.2em;" ng-if="avoirPermission('modifier', 'contact') == true">
                    <button class="btn btn-danger pull-right" ng-disabled="angular.isUndefined(contacts.numero1)" 
                            ng-click="deleteContact(contacts.id)">
                        <i class="fa fa-trash"> Supprimer</i>
                    </button>    
                    <button ng-click="toggleContactEditForm()" class="btn btn-warning pull-right">
                        <i class="fa fa-edit" style="font-weight: bold"> Modifier</i>
                    </button>                      
                </div> 
            </div>
        </div>
    </div>
    <!-- Adresse -->
    <div class="panel box box-primary box-solid" ng-if="avoirPermission('consulter', 'adresse') == true">
        <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#adresse" class="box-header with-border">
            <div >
                <i class="fa fa-home"></i>
                <h1 class="box-title ">Adresse</h1>
            </div>
        </a>

        <div id="adresse" class="panel-collapse collapse">

            <div class="panel-body" ng-if="editAdresse == true">
                <form role="form" name="editAdresseForm" class="editAdresseForm" novalidate="">
                    <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                        <div class="  col-md-7">
                            <label style="font-weight: bold;"> Ville actuelle :</label>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <input type="text" name="ville" id="ville" ng-model="adresse.ville"  placeholder="Ville actuelle" ng-pattern="/^[a-zâäàéèùêëîïôöçñ]+[a-zâäàéèùêëîïôöçñ .\-]*[a-zâäàéèùêëîïôöçñ]+$/i" ng-minlength="2"  class="form-control">
                            </div>
                            <div class="alert alert-block alert-danger requis" style="display:none">
                                <div>Veuillez renseigner ce champs.</div>
                            </div>
                            <div ng-messages="editAdresseForm.ville.$error" role="alert" ng-show="editAdresseForm.ville.$touched && editAdresseForm.ville.$invalid" class="alert alert-block alert-danger has-error">
                                <div ng-message="minlength">Ce champs doit contenir 2 caractères au minimum.</div>
                                <div ng-message="pattern">Vérifier votre saisie.</div>
                            </div>
                        </div>
                    </div>  
                    <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                        <div class="  col-md-7">
                            <label style="font-weight: bold;"> Quartier :</label>
                        </div>
                        <div class="col-md-4">
                            <div>
                                <input type="text" name="quartier" id="quartier" ng-model="adresse.quartier"   placeholder="Quartier"  ng-pattern="/^[a-zâäàéèùêëîïôöçñ]+[0-9a-zâäàéèùêëîïôöçñ .\-]*[0-9a-zâäàéèùêëîïôöçñ]+$/i" ng-minlength="2"  class="form-control">
                            </div>
                            <div class="alert alert-block alert-danger requis" style="display:none">
                                <div>Veuillez renseigner ce champs.</div>
                            </div>
                            <div ng-messages="editAdresseForm.quartier.$error" role="alert" ng-show="editAdresseForm.quartier.$touched && editAdresseForm.quartier.$invalid" class="alert alert-block alert-danger has-error">
                                <div ng-message="minlength">Ce champs doit contenir 2 caractères au minimum.</div>
                                <div ng-message="pattern">Vérifier votre saisie.</div>
                            </div>
                        </div>
                    </div>  
                    <div class="row " style="margin-top: 5px; font-size: 1.2em;">
                        <div class="col-md-offset-9 col-md-3 ">
                            <span style="margin-right: 10px;" class="btn btn-success pull-right" type="submit" ng-disabled="editAdresseForm.$invalid"  ng-click="controlAdresseFormEdit()"><i class="fa fa-check"> Enregistrer</i></span>
                            <button ng-click="toggleAdresseEditForm()" class="btn btn-warning"><i class="fa fa-times" style="font-weight: bold"> Annuler</i></button>
                        </div>
                    </div> 
                </form>
            </div>
            <div class="panel-body" ng-if="editAdresse == false">
                <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                    <div class="  col-md-7">
                        <span style="font-weight: bold;"> Ville actuelle :</span>
                    </div>
                    <div class="col-md-4">
                        <span> {{adresse.ville}}</span>
                    </div>
                </div>  
                <div class="row " style="margin-top: 6px; font-size: 1.2em;">
                    <div class="  col-md-7">
                        <span style="font-weight: bold;"> Quartier :</span>
                    </div>
                    <div class="col-md-4">
                        <span> {{adresse.quartier}}</span>
                    </div>
                </div>  
                <div style="margin-top: 5px; font-size: 1.2em;" ng-if="avoirPermission('modifier', 'adresse') == true">                                   
                    <button class="btn btn-danger pull-right" ng-disabled="angular.isUndefined(adresse.ville)" 
                            ng-click="deleteAdresse(adresse.id)">
                        <i class="fa fa-trash"> Supprimer</i>
                    </button>
                    <button ng-click="toggleAdresseEditForm()" class="btn btn-warning pull-right">
                        <i class="fa fa-edit" style="font-weight: bold"> Modifier</i>
                    </button>
                </div> 
            </div>
        </div>
    </div>
</div>