<div ng-controller="SocialesController">
    <div class="panel box box-primary box-solid" ng-if="$parent.estPermanent == true && avoirPermission('consulter', 'employe') == true">
        <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#caisseSociale" class="box-header with-border">
            <div >
                <i class="fa fa-user"></i>
                <h1 class="box-title ">Caisse Sociale</h1>
            </div>
        </a>
        <div id="caisseSociale" class="panel-collapse collapse">
            <div class="panel-body row" ng-if="editCaisseSociale == true" id="editCaisseSociale">
                <form novalidate="" name="editCaisseSocialeForm" enctype="multipart/form-data" class="editCaisseSocialeForm" id="editCaisseSocialeForm">
                    <div class="  col-md-7">
                        <label style="font-weight: bold;"> Caisse sociale :</label>
                    </div>
                    <div class="col-md-5">
                        <div class="row" >
                            <label for="nonCaisse" class="col-md-4">
                                <input type="radio" id="nonCaisse" name="caissesociale" 
                                       ng-model="currentCaisseSociale" value="0"
                                       ng-click="removeSelectedCaisseSociale()" />
                                {{ "Aucun"}}
                            </label>
                            <label ng-repeat="caissesociale in caissesociales" for="{{caissesociale.code}}" 
                                   class="col-md-4" >
                                <input type="radio"  
                                       name="caissesociale"
                                       ng-model="currentCaisseSociale"
                                       ng-value="{{caissesociale.id}}"
                                       id="{{caissesociale.code}}" 
                                       onclick="angular.element(this).scope().getCaisseSociale(this)"/>
                                {{caissesociale.code}} 
                            </label>
                        </div>                                   
                    </div>
                    <div class="row " ng-if="$parent.employe.caisseSociale.id"  style="margin-top: 6px; font-size: 1.2em;">
                        <div class="  col-md-7">
                            <label> Numéro d'affiliation {{$parent.employe.caisseSociale.code}} :</label>
                        </div>
                        <div class="col-md-5">
                            <div class="input-group">
                                <input  type="text" ng-model="$parent.employe.matriculeCaisseSociale"    ng-pattern="/^[0-9]{11}$/" ng-maxlength="11" ng-minlength="11" name="caisseSociale" placeholder="Matricule caisse sociale" class="form-control" >
                            </div>
                            <div class="alert alert-block alert-danger requis" style="display:none">
                                <div>Veuillez renseigner ce champs.</div>
                            </div>
                            <div class="alert alert-block alert-danger requis" id="mat_cs_dup" style="display:none">
                                <div>Ce numéro de matricule existe dèja.</div>
                            </div>
                            <div ng-messages="editCaisseSocialeForm.caisseSociale.$error" role="alert" ng-show="editCaisseSocialeForm.caisseSociale.$touched && editCaisseSocialeForm.caisseSociale.$invalid" class="alert alert-block alert-danger has-error">
                                <div ng-message="maxlength">Ce champs doit contenir 11 caractères.</div>
                                <div ng-message="minlength">Ce champs doit contenir 11 caractères.</div>
                                <div ng-message="pattern">Vérifier votre saisie.</div>
                            </div>
                        </div>                                    
                    </div>
                    <table class="table" ng-if="$parent.employe.caisseSociale.id">                    
                        <thead>
                            <tr>
                                <th>Type de document</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                            
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select ng-model="document.typeDocument" class="form-control" id="entite" ng-options="typedocument.code  for typedocument in $parent.typedocuments"></select>  
                                        </div>
                                        <div class="alert alert-block alert-danger requis type-doc-missing" style="display:none">
                                            <div>Veuillez renseigner ce champs.</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea  cols="50" style="height: 140px; resize: none;"  ng-model="document.description" name="document" placeholder="Description du document" ></textarea>
                                        </div>
                                        <div class="alert alert-block alert-danger requis" style="display:none">
                                            <div>Veuillez renseigner ce champs.</div>
                                        </div>                                      
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="detailUpload">
                                            </div>
                                            <div>                                     
                                                <div class="alert alert-block alert-danger requis missing-file" style="display:none">
                                                    <div>Veuillez sélectionner un fichier.</div>
                                                </div>
                                                <div class="alert alert-block alert-danger requis error-format" style="display:none">
                                                    <div>Vérifier que le(s) fichier(s) envoyé(s) sont au bon format.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control hidden" multiple  type="file"  onchange="angular.element(this).scope().previewUpload(this, 'editCaisseSocialeForm')" name="fichiers" accept="application/pdf" id="fichiersCaisseSociale">
                                            <label for="fichiersCaisseSociale">
                                                <span class="btn btn-primary" title="Pièce jointe" ><i class="fa fa-paperclip"></i></span>
                                            </label>
                                            <i class="fa fa-times btn btn-danger" title="Annuler l'upload" ng-click="cancelFileUpload()"></i>
                                        </div>                                       
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row "  style="margin-top: 10px;">
                        <div class="col-md-12">
                            <span style="margin-right: 10px;" class="btn btn-danger pull-right"
                                  ng-click="cancelCaisseSocialeEdit()">
                                <i class="fa fa-times"> Annuler</i>
                            </span>
                            <span style="margin-right: 10px;" class="btn btn-success pull-right" 
                                  type="submit" ng-disabled="editCaisseSocialeForm.$invalid"  ng-click="controlCaisseSocialeFormEdit('editCaisseSocialeForm')">
                                <i class="fa fa-check"> Enregistrer</i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <!--                        fin edit form-->
            <div class="panel-body" ng-if="editCaisseSociale == false">               
                <div class="row" style="font-size: 1.2em;">
                    <div class="  col-md-7">
                        <span style="font-weight: bold;"> Caisse Sociale :</span>
                    </div>
                    <div class="col-md-4">
                        <span ng-if="$parent.employe.caisseSociale"> {{$parent.employe.caisseSociale.code}}</span>
                        <span ng-if="!$parent.employe.caisseSociale" style="margin:auto;">L'employé n'est pas membre d'une caisse sociale</span>
                    </div>
                </div> 
                <div class="row" style="font-size: 1.2em;" ng-if="$parent.employe.caisseSociale">
                    <div class="  col-md-7">
                        <span style="font-weight: bold;"> Numéro d'affiliation {{$parent.employe.caisseSociale.code}} :</span>
                    </div>
                    <div class="col-md-4">
                        <span> {{$parent.employe.matriculeCaisseSociale}}</span>
                    </div>
                </div>  
                <div class="row" ng-if="$parent.employe.caisseSociale" style="font-size: 1.2em;">
                    <div class="  col-md-3">
                        <span style="font-weight: bold;"> Documents associés:</span>
                    </div>
                    <div class="col-md-9">
                        <table class="table table-striped table-bordered tableau-document">
                            <thead>
                                <tr>
                                    <th>Type </th>
                                    <th>Description </th>
                                    <th>Date d'enregistrement</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr ng-repeat="doc in $parent.documents" ng-if="angular.isDefined(doc.caisseSociale)">
                                    <td>
                                        {{doc.typeDocument.code}}
                                    </td >
                                    <td>
                                        {{doc.description}}
                                    </td >
                                    <td>
                                        <span>{{doc.dateEnregistrement| date:'dd MMM yyyy'}}</span>
                                    </td >
                                    <td>
                                        <div>
                                            <a class="btn btn-primary" ng-click="visualiserDocument(doc.emplacement)">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <button class="btn btn-danger" ng-if="avoirPermission('supprimer', 'document') == true"
                                                    ng-click="deleteArchiveSociales(doc)"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> 
                <div class="row" style="margin-top: 5px; font-size: 1.2em;" 
                     ng-if="avoirPermission('modifier', 'employe') == true">
                    <div class="col-md-offset-9 col-md-3 ">
                        <button
                            ng-click="toggleCaisseSocialeEditForm()" 
                            class="btn btn-warning">
                            <i class="fa fa-edit" style="font-weight: bold"> Modifier</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Mutuelle Sante -->
    <div class="panel box box-primary box-solid" ng-if="$parent.estPermanent == true && avoirPermission('consulter', 'employe') == true">
        <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#mutuelleSante" class="box-header with-border">
            <div >
                <i class="fa fa-address-book"></i>
                <h1 class="box-title ">Mutuelle Santé</h1>
            </div>
        </a>

        <div id="mutuelleSante" class="panel-collapse collapse">
            <div class="panel-body row" ng-if="editMutuelleSante == true" id="editMutuelle">
                <form novalidate="" name="editMutuelleSanteForm" enctype="multipart/form-data" class="editMutuelleSanteForm" id="editMutuelleSanteForm">
                    <div class="  col-md-7">
                        <span style="font-weight: bold;">Inscription au mutuelle de santé :</span>
                    </div>

                    <div class="col-md-4 row">
                        <!--<input type="checkbox" name="incrit" ng-model="estMembreMutuelle"  ng-change="toggleMembreMutuelle()">-->
                        <label for="nonMutuelle" class="col-md-5">
                            <input type="radio" id="nonMutuelle"
                                   ng-model="currentMutuelle" value="0" 
                                   name="mutuelle" ng-click="removeSelectedMutuelle()" />
                            {{ "Aucun"}}
                        </label>
                        <label ng-repeat="mutuelle in mutuelles" for="{{mutuelle.code}}" class="col-md-5" >
                            <input type="radio"  
                                   name="mutuelle"
                                   ng-value="{{mutuelle.id}}"  
                                   ng-model="currentMutuelle"
                                   onclick="angular.element(this).scope().getMutulleSante(this)"
                                   id="{{mutuelle.code}}" />
                            {{mutuelle.code}}
                        </label>
                    </div>
                    <table class="table" ng-if="membreMutuelle.mutuelleSante">                    
                        <thead>
                            <tr>
                                <th>Type de document</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                            
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select ng-model="document.typeDocument" class="form-control" id="entite" ng-options="typedocument.code  for typedocument in $parent.typedocuments"></select>  
                                        </div>
                                        <div class="alert alert-block alert-danger requis type-doc-missing" style="display:none">
                                            <div>Veuillez renseigner ce champs.</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea  cols="50" style="height: 140px; resize: none;"  ng-model="document.description" name="document" placeholder="Description du document" ></textarea>
                                        </div>
                                        <div class="alert alert-block alert-danger requis" style="display:none">
                                            <div>Veuillez renseigner ce champs.</div>
                                        </div>                                      
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="detailUpload">
                                            </div>
                                            <div>                                     
                                                <div class="alert alert-block alert-danger requis missing-file" style="display:none">
                                                    <div>Veuillez sélectionner un fichier.</div>
                                                </div>
                                                <div class="alert alert-block alert-danger requis error-format" style="display:none">
                                                    <div>Vérifier que le(s) fichier(s) envoyé(s) sont au bon format.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control hidden" multiple  type="file"  onchange="angular.element(this).scope().previewUpload(this, 'editMutuelleSanteForm')" name="fichiers" accept="application/pdf" id="fichiersMutuelleSante">
                                            <label for="fichiersMutuelleSante">
                                                <span class="btn btn-primary" title="Pièce jointe" ><i class="fa fa-paperclip"></i></span>
                                            </label>
                                            <i class="fa fa-times btn btn-danger" title="Annuler l'upload" ng-click="cancelFileUpload()"></i>
                                        </div>                                       
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row "  style="margin-top: 10px;" >
                        <div class="col-md-12">
                            <span style="margin-right: 10px;" class="btn btn-danger pull-right"
                                  ng-click="toggleMutuelleSanteEditForm()">
                                <i class="fa fa-times"> Annuler</i>
                            </span>
                            <span style="margin-right: 10px;" class="btn btn-success pull-right" 
                                  type="submit"   ng-click="controlMutuelleSanteFormEdit('editMutuelleSanteForm')">
                                <i class="fa fa-check"> Enregistrer</i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <!--                        fin edit form-->
            <div class="panel-body" ng-if="editMutuelleSante == false">
                <div class="row" style="margin-top: 6px; font-size: 1.2em;">
                    <div class="  col-md-7">
                        <span style="font-weight: bold;"> Mutuelle: </span>
                    </div>
                    <div class="col-md-4">
                        <span ng-if="membreMutuelle.mutuelleSante"> {{membreMutuelle.mutuelleSante.code}}</span>
                        <span ng-if="!membreMutuelle.mutuelleSante">
                            L'employé n'est pas membre d'une mutuelle de santé
                        </span>
                    </div>
                </div>  
                <div class="row" ng-if="membreMutuelle.mutuelleSante" style="font-size: 1.2em;">
                    <div class="  col-md-3">
                        <span style="font-weight: bold;"> Documents associés:</span>
                    </div>
                    <div class="col-md-9">
                        <table class="table table-striped table-bordered tableau-document">
                            <thead>
                                <tr>
                                    <th>Type </th>
                                    <th>Description </th>
                                    <th>Date d'enregistrement</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr ng-repeat="doc in $parent.documents" ng-if="angular.isDefined(doc.membreMutuelle)">
                                    <td>
                                        {{doc.typeDocument.code}}
                                    </td >
                                    <td>
                                        {{doc.description}}
                                    </td >
                                    <td>
                                        <span>{{doc.dateEnregistrement| date:'dd MMM yyyy'}}</span>
                                    </td >
                                    <td>
                                        <div>
                                            <a class="btn btn-primary" ng-click="visualiserDocument(doc.emplacement)">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <button class="btn btn-danger" ng-if="avoirPermission('supprimer', 'document') == true"
                                                    ng-click="deleteArchiveSociales(doc)"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row " style="margin-top: 5px; font-size: 1.2em;" 
                     ng-if="avoirPermission('modifier', 'employe') == true">
                    <div class="col-md-offset- col-md-3 ">
                        <button ng-if="!membreMutuelle.mutuelleSante" ng-click="toggleMutuelleSanteEditForm()"  class="btn btn-success">
                            <i class="fa fa-plus" style="font-weight: bold"> Ajouter</i>
                        </button>
                        <button ng-if="membreMutuelle.mutuelleSante" ng-click="setMutuelleSante(membreMutuelle)"class="btn btn-warning">
                            <i class="fa fa-edit" style="font-weight: bold"> Modifier</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Syndicat -->
    <div class="panel box box-primary box-solid" ng-if="$parent.estPermanent == true && avoirPermission('consulter', 'employe') == true">
        <a data-toggle="collapse" data-parent="#accordion" href="" data-target="#syndicat" class="box-header with-border">
            <div >
                <i class="fa fa-home"></i>
                <h1 class="box-title ">Syndicat</h1>
            </div>
        </a>

        <div id="syndicat" class="panel-collapse collapse">
            <div class="panel-body" ng-if="editSyndicat == true">
                <form role="form" name="editSyndicatForm" enctype="multipart/form-data" class="editSyndicatForm" id="editSyndicatForm" novalidate="">
                    <div class="col-md-7">
                        <span style="font-weight: bold;"> Syndicat : </span>
                    </div>
                    <div class="col-md-5 row">
                        <label for="none" class="col-md-4">
                            Aucun
                            <input type="radio"  name="syndicat" value="0"
                                   ng-model="currentSyndicat"
                                   ng-click="removeSelectedSyndicat()" id="none" />                 
                        </label>
                        <label ng-repeat="syn in syndicats" for="{{syn.code}}" class="col-md-4" >
                            {{syn.code}}
                            <input type="radio"  
                                   name="syndicat" 
                                   ng-model="currentSyndicat"
                                   ng-value="{{syn.id}}"
                                   id="{{syn.code}}" 
                                   onclick="angular.element(this).scope().getSyndicat(this)"/>    
                        </label>
                    </div>
                    <table class="table" ng-if="$parent.employe.syndicat">                    
                        <thead>
                            <tr>
                                <th>Type de document</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>                                            
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <select ng-model="document.typeDocument" class="form-control" id="entite" ng-options="typedocument.code  for typedocument in $parent.typedocuments"></select>  
                                        </div>
                                        <div class="alert alert-block alert-danger requis type-doc-missing" style="display:none">
                                            <div>Veuillez renseigner ce champs.</div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <textarea  cols="50" style="height: 140px; resize: none;"  ng-model="document.description" name="document" placeholder="Description du document" ></textarea>
                                        </div>
                                        <div class="alert alert-block alert-danger requis" style="display:none">
                                            <div>Veuillez renseigner ce champs.</div>
                                        </div>                                      
                                    </div>
                                </td>
                                <td>
                                    <div class="row">
                                        <div class="col-md-7">
                                            <div class="detailUpload">
                                            </div>
                                            <div>                                     
                                                <div class="alert alert-block alert-danger requis missing-file" style="display:none">
                                                    <div>Veuillez sélectionner un fichier.</div>
                                                </div>
                                                <div class="alert alert-block alert-danger requis error-format" style="display:none">
                                                    <div>Vérifier que le(s) fichier(s) envoyé(s) sont au bon format.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <input class="form-control hidden" multiple  type="file"  onchange="angular.element(this).scope().previewUpload(this, 'editSyndicatForm')" name="fichiers" accept="application/pdf" id="fichiersSyndicat">
                                            <label for="fichiersSyndicat">
                                                <span class="btn btn-primary" title="Pièce jointe" ><i class="fa fa-paperclip"></i></span>
                                            </label>
                                            <i class="fa fa-times btn btn-danger" title="Annuler l'upload" ng-click="cancelFileUpload()"></i>
                                        </div>                                       
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row "  style="margin-top: 10px;">
                        <div class="col-md-12">
                            <span style="margin-right: 10px;" class="btn btn-danger pull-right"
                                  ng-click="cancelSyndicatEdit()">
                                <i class="fa fa-times"> Annuler</i>
                            </span>
                            <span style="margin-right: 10px;" class="btn btn-success pull-right"
                                  type="submit" ng-disabled="editSyndicatForm.$invalid"  ng-click="controlSyndicatFormEdit('editSyndicatForm')">
                                <i class="fa fa-check"> Enregistrer</i>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-body" ng-if="editSyndicat == false">
                <div class="row"  style="margin-top: 6px; font-size: 1.2em;">
                    <div class="  col-md-7">
                        <span style="font-weight: bold;"> Syndicat :</span>
                    </div>
                    <div class="col-md-4">
                        <span ng-if="$parent.employe.syndicat"> {{$parent.employe.syndicat.code}}</span>
                        <span ng-if="!$parent.employe.syndicat">
                            L'employé n'est pas membre d'un syndicat
                        </span>
                    </div>
                </div>
                <div class="row" ng-if="$parent.employe.syndicat != null" style="font-size: 1.2em;">
                    <div class="  col-md-3">
                        <span style="font-weight: bold;"> Documents associés:</span>
                    </div>
                    <div class="col-md-9">
                        <table class="table table-striped table-bordered tableau-document">
                            <thead>
                                <tr>
                                    <th>Type </th>
                                    <th>Description </th>
                                    <th>Date d'enregistrement</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody> 
                                <tr ng-repeat="doc in $parent.documents" ng-if="angular.isDefined(doc.syndicat)">
                                    <td>
                                        {{doc.typeDocument.code}}
                                    </td >
                                    <td>
                                        {{doc.description}}
                                    </td >
                                    <td>
                                        <span>{{doc.dateEnregistrement| date:'dd MMM yyyy'}}</span>
                                    </td >
                                    <td>
                                        <div>
                                            <a class="btn btn-primary" ng-click="visualiserDocument(doc.emplacement)">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <button class="btn btn-danger" ng-if="avoirPermission('supprimer', 'document') == true"
                                                    ng-click="deleteArchiveSociales(doc)"><i class="fa fa-trash"></i></button>
                                        </div>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>                  
                </div>
                <div class="row " style="margin-top: 5px; font-size: 1.2em;" ng-if="avoirPermission('modifier', 'employe') == true">
                    <div class="col-md-offset-9 col-md-3 ">
                        <button
                            ng-click="toggleSyndicatEditForm()" class="btn btn-warning">
                            <i class="fa fa-edit" style="font-weight: bold"> Modifier</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>