<div class="box box-primary" ng-if="avoirPermission('ajouter','echelon')==true">   
    <div class="box-header">
      <h3 class="box-title">Ajouter un echelon</h3>
    </div><!-- /.box-header -->
    <!-- form start -->
    <form role="form" name="echelonForm">
      <div class="box-body">
           <div class="form-group">
                <label for="libelle">Libelle<span style="color: red;">*</span></label>
                <input  type="text" ng-model="echelon.libelle" name="libelle"  ng-pattern="/^([a-za-zâäàéèùêëîïôöçñ]|[1-9])+[a-zâäàéèùêëîïôöçñ ]*([a-za-zâäàéèùêëîïôöçñ]|[1-9])*$/i" class="form-control" id="libelle" placeholder="Libelle" />
                <div role="alert" ng-show="echelonForm.libelle.$touched && echelonForm.libelle.$invalid" class="alert alert-block alert-danger has-error">
                    <div>Vérifier votre saisie.</div>
                </div>
                <div class="alert alert-block alert-danger requis" style="display:none">
                    <div>Veuillez renseigner ce champs.</div>
                </div>
           </div>
      </div><!-- /.box-body -->
      <div class="box-footer">
          <button type="submit" ng-disabled="echelonForm.$invalid" ng-if="createForm" ng-click="controlForm(echelon)" class="btn btn-primary">Valider</button>
          <button type="submit" ng-disabled="echelonForm.$invalid" ng-if="editForm" ng-click="controlForm(echelon)" class="btn btn-warning">Enregistrer</button>
     <button type="button" ng-click="annuler()" ng-disabled="echelonForm.$invalid" ng-if="editForm" class="btn btn-primary ">Annuler</button>
      </div>
    </form>
</div><!-- /.box -->

<div style="background: white;" ng-if="avoirPermission('lister','echelon')==true">    
    <div class="table-responsive" >
    <h3>Liste des echelons</h3>
    <table class="table table-bordered table-striped jambo_table bulk_action">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="echelon in echelons">
               
                <td>{{ echelon.libelle }}</td>               
                <td>
                    <button ng-if="avoirPermission('supprimer','echelon')==true" ng-click="delete(echelon)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    <button ng-click="setCurrent(echelon)" type="button" class="btn btn-warning btn-sm edit" data-toggle="modal" data-target="#editSituation"><i class="fa fa-edit"></i></button>                 
                </td>
            </tr>
        </tbody>
    </table>
    </div>

</div> 
    <!-- Trigger the modal with a button -->
   

<!--
<div class="box box-primary">
    
                <div class="box-header">
                  <h3 class="box-title">Ajouter un echelon</h3>
                </div> /.box-header 
                 form start 
                <form role="form" name="echelonForm">
                  <div class="box-body">
                       <div class="form-group">
                      <label for="libelle">Libelle</label>
                      <input  ng-model="echelon.libelle" name="libelle" required="true" class="form-control" id="libelle" placeholder="Libelle" />
                    </div>
                   
                    
                  </div> /.box-body 

                  <div class="box-footer">
                      <button type="submit" ng-if="echelonForm.$valid" ng-click="add(echelon)" class="btn btn-primary">Valider</button>
                  </div>
                </form>
              </div> /.box 





   
   

<div >
    
    <div class="table-responsive" >
    <h3>Liste des echelons</h3>
    <table class="table table-bordered table-striped jambo_table bulk_action">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="echelon in echelons | filter: searchValue">
               
                <td>{{ echelon.libelle }}</td>
                
                <td>
                    <button ng-click="delete(echelon)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                    <button ng-click="setCurrent(echelon)" type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#editModal"><i class="fa fa-edit"></i></button>
                  
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    
    <div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

     Modal content
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modifier la echelon matrimoniale</h4>
      </div>
      <div class="modal-body">
          <form role="form" name="echelonForm">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="libelle">Libelle</label>
                      <input  ng-model="echelon.libelle" name="libelle" required="true" class="form-control" id="libelle" placeholder="Libelle" />
                     
                    </div>
                   
                    
                  </div> /.box-body 

                  <div class="box-footer">
                       <button type="button" ng-click="edit(echelon)" class="btn btn-default pull-right" data-dismiss="modal"> <i class="fa fa-plus"></i> modifier</button>
                  </div>
                </form>   
      </div>
     
    </div>

  </div>
</div>
   -->
    <!-- Trigger the modal with a button -->
   

